<div class="row-fluid">

	<div class="page-header">
		<h1>
			OpenLigaDB<br />
		</h1>
		<p>
			Diese Ligen sind bei <a href="http://www.openligadb.de/">OpenLigaDB</a>
			verfügbar. Nach Anwahl einer Liga kann diese importiert werden.
		</p>
	</div>

	<div ng-show="progressloading">
		<img class="center-block" src="/images/ajax-loader.gif" />
	</div>

	<h2>Ligen</h2>

	<div>
		<table
			class="table table-striped table-condensed table-bordered table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Liga</th>
					<th>Season</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="l in leagues">
					<td><a href="#/openliga/groups/{{l.leagueId}}">&nbsp;{{l.leagueId}}&nbsp;</a></td>
					<td>{{l.title}}</td>
					<td>{{l.saison}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
