<div class="row-fluid">

	<div class="page-header">
		<h1>
			Send push notifications<br />
		</h1>
	</div>

	<div ng-show="progressloading">
		<img class="center-block" src="/images/ajax-loader.gif" />
	</div>

	<h2>
		Send message<br /> <small>Send message to all users. Be
			careful!</small>
	</h2>

	<form name="sendForm" ng-submit="doSend()">
		<input type="text"
			ng-model="form.title" size="40"/>
		
		<br/>	
		<input type="text" ng-model="form.message"  size="40"/>

		<br/>
		<input type="submit" />

	</form>


	<h2>
		Push Notification<br /> <small>Zum Testen der Push
			Nachrichten.</small>
	</h2>
	<a href="/rs/push/android?user=lui">Push Test Lui</a><br /> <br /> <a
		href="/rs/push/android?user=peter">Push Test Peter</a><br />

	<h2>
		Nochmaliges Senden von Push Notification<br /> <small>just for test purposes.</small>
	</h2>
	<form name="resendForm" ng-submit="doReSend()">
	
		Key
		<input type="text"
			ng-model="form.key" size="40"/>
		
		<br/>
		UserId
		<input type="number" ng-model="form.userId"  size="40"/>

		<br/>
		<input type="submit" />

	</form>

	<div>
		<br/>
		Ergebnis:<br/>
		<pre>{{result_resend}}</pre>
	</div>
</div>
