<div class="row-fluid">

	<div class="page-header">
		<h1>
			mateBet DB<br />
		</h1>
	</div>

	<div ng-show="progressloading">
		<img class="center-block" src="/images/ajax-loader.gif" />
	</div>

	<h2>URLs</h2>
	<p>This for analysis purposes</p>

	<div>
		<h2>
			Cron Jobs<br>
			<small>diese Jobs werden regelmäßig aufgerufen.</small>
		</h2>
		<ul>
			<li><a href="/cron/closebets">cron closedbets</a> - job prüft ob
				Wetten abgelaufen sind und schließt diese. Noch nicht angenommene
				Wetten werden automatisch nach Ablauf verschoben.</li>
			<li><a href="/cron/syncmatchresult?days=10&&forceFinishBets=true">syncmatchresult</a> -
				prüft ob neue Ergebnisse der Spiele der letzten x Tage bei
				openligadb vorliegen und importiert diese in die Matebet Datenbank.</li>
			<li><a href="/cron/missingresult?days=60">missing results</a> -
				erstellt einen Report mit den noch fehlenden Tippeingaben der
				letzten x Tage.</li>
			<li><a href="/cron/userreminder">userreminder</a></li>
		</ul>

		<h2>Server Stats</h2>
		<a href="/appstats">appstats</a><br />
		<br />

		<h2>Server Cache</h2>
		Löschen des serverseitigen Caches. Bitte Info an mich, wenn diese
		Funktion wirklich benötigt werden sollte. <a href="/rs/util/clean">Flush
			Cache</a><br />

	</div>
</div>
